/* Estrutura do site*/
* {
margin: 0;
padding: 0;
}

body{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   background: #fff url(../imagens/fundo.png) repeat-x;
}

#container {
	width: 750px;
	margin: auto;
   /*border: 1px solid red;*/
}
#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top; /* no-repeat=p/n repetir right top= lado da imagem.*/
	padding-top: 25px;
	/*border: 1px solid red;*/

}

.logo{
	width: 152px;
	height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px; /*empurrar a escrita para fora da tela e deixar so o logo*/
}

/* BARRA DE NAVEGAÇÃO*/
ul {
	margin: 0;
   padding: 0;
   list-style: none; /*tirar os pontos da lista*/
}
#topo ul{
   background: #b10333;
   margin-top: 30px;
   float: left;

}
#topo ul li {
    float: left;

}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em; /*aumentar a barra*/
	text-decoration: none; /*remover traço do link*/
	color: #fff; /* cor texto*/
	background: url(../imagens/divisor.png) no-repeat left center;
}

/*remover divisor do primeiro item*/
#topo ul .primeiro a {
 background: none;
} 

/*mudar a cor das opçoes da navegação quando mouse passa em cima*/
#topo ul a:hover {
	color: #69001d;
}

body.home #navegaçao a#home,
body.brasil #navegaçao a#brasil,
body.internacional #navegaçao a#internacional,
body.economia #navegaçao a#economia,
body.saude #navegaçao a#saude,
body.ciencia #navegaçao a#ciencia,
body.fotos #navegaçao a#fotos {
	color: #fff;
	background: #de003e;
	cursor:text;
}

#conteudo {
margin-top: 60px; /*Margem superior*/
background: #f5f5f5;
}


#primario {
   width: 270px;
   float: left;
   margin: 0 0 20px 195px;
  }

 #duas-colunas #primario {
   width: 555px;
  
}
#uma-coluna #primario {
   width: 750px;
  
   margin: 0 0 20px 0;
   
}
#secundario {
   width: 270px;
   float: left ;
   margin: 0 0 20px 15px;
   
  }

#lateral {
   width: 180px;
   float: left;
   margin: 0 0 20px -750px;
   
}
.caixa {
   margin: 10px 0;
   padding: 5px;
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
}
 .caixa-conteudo {
background: #fff;
padding: 5px;
margin-top: 5px 
}

h2{ 
font-size: 1em;
background: #294c71;
color: #fff;
padding: 5px;
 }
/*formatar menus laterais*/
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px ;
    color: #a1a1a1;
}
label{
display: block;
cursor: pointer;
}
input{
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}
input.submit{
  width:80px ;
  color:#fff;
  background-color:#b10333 ;
  border: 2px solid #870529;
  }
/*formatando imagem*/
img {
   border: 2px solid #dfdfdf;

}
img.img-principal {
   width: 98%;
   border: 3px solid #dfdfdf;
}
/*formatando cabeçalhos*/
 h3{
   text-transform: uppercase;
   display: inline;
   font-size: 0.8em;
   padding: 3px;
 }

.destaque h3 {
	background: #b10333;
	color: #fff;
}


#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
  width: 750px;
  margin: 0 auto;
  color: #fff;
}
